@page
@model LaFlorida.Pages.ApplicationUsers.DeleteModel
@{
    ViewData["Title"] = "Borrar Accionista";
}

<h1>Borrar</h1>

@if (Model.ApplicationUser.Id != null)
{
    <h3>Estas seguro de borrar @Html.DisplayFor(model => model.ApplicationUser.FirstName)?</h3>
    <div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ApplicationUser.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApplicationUser.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ApplicationUser.LastName)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="ApplicationUser.Id" />
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            <a asp-page="./Index">Regresar</a>
        </form>
    </div>
}
else
{
    <p>Accionista no encontrado</p>
}

