@using LaFlorida.ServicesModels;
@using LaFlorida.Extensions;

@model IList<CycleStatistics>

@if (Model != null && Model.Any())
{
    <div class="row">
        <div class="col-md-12 my-3">
            <h5>Cultivo @Model.FirstOrDefault()?.CropName</h5>
        </div>
        <div class="col-md-12 my-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="costSales"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="performance"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card-body">
                    <canvas id="return"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script>
    var dataLabels = @Html.Raw(Model.Select(c => new string($"{c.LotName} ({c.LotSize} Ha) - {c.CreateDate.ToString("MMM yyy")}")).ToList().GetLabels());
    createCostSalesChart("costSales",
        dataLabels,
        @Html.Raw(Model.Select(c => c.TotalCosts).ToList().GetData()),
        @Html.Raw(Model.Select(c => c.TotalSales).ToList().GetData()),
        @Html.Raw(Model.Select(c => c.Profit).ToList().GetData()));

        createChart("performance", "bar", "Rendimiento", @Html.Raw(Model.Select(c => new ChartData { Label = $"{c.LotName} ({c.LotSize} Ha) - {c.CreateDate.ToString("MMM yyy")}", DataLabel = c.Name, Data = c.Performace }).ToList().GetChartDataset("Rendimiento", "rgb(179,25,255, 0.2)", "rgb(179,25,255, 1)")));

        createChart("return", "bar", "Retorno", @Html.Raw(Model.Select(c => new ChartData { Label = $"{c.LotName} ({c.LotSize} Ha) - {c.CreateDate.ToString("MMM yyy")}", DataLabel = c.Name, Data = c.Return }).ToList().GetChartDataset("Retorno %", "rgba(54, 162, 235, 0.2)", "rgba(54, 162, 235, 1)")));
    </script>
}
else 
{
    <div class="row">
        <div class="col-md-12">
            <h4>No hay informacion suficiente para generar el reporte</h4>
        </div>
    </div>
}
