@page
@model CurrentCyclesModel
@{
    ViewData["Title"] = "Ciclos Activos";
}

@if (Model.Success)
{
    <div class="alert alert-success" role="alert">
        @Model.Message
    </div>
}

@if (Model.Error)
{
    <div class="alert alert-danger" role="alert">
        @Model.Message
    </div>
}

<div class="row">
    <div class="col-md-12 my-3">
        <a asp-page="CompleteCycles" class="btn btn-primary float-left">Ciclos Completados</a>
        <a asp-page="Cycles/Create" asp-route-previous="true" class="btn btn-primary float-right">Nuevo Ciclo</a>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover data-table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Cycles[0].Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cycles[0].CreateDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cycles[0].HarvestDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cycles[0].Crop)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cycles[0].Lot)
                        </th>
                        <th>
                            Dias para cosecha
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cycles[0].IsRent)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cycles)
                    {
                        var pastHarvestDate = item.HarvestDate?.CompareTo(DateTime.Now);
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td data-order="@item.CreateDate.ToBinary()">
                                @item.CreateDate.ToString("dd MMM yyy")
                            </td>
                            <td data-order="@item.HarvestDate?.ToBinary()">
                                @item.HarvestDate?.ToString("dd MMM yyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Crop.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lot.Name)
                            </td>
                            <td class="@(pastHarvestDate < 0 ? "text-danger font-weight-bold" : "text-success")">
                                @(item.HarvestDate?.Subtract(DateTime.Now).Days) dias
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsRent)
                            </td>
                            <td>
                                <a asp-page="./Dashboard" asp-route-id="@item.CycleId"><i class="fas fa-search-plus" title="Detalles"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @if (Model.EmptyLots.Any())
    {
        <div class="col-md-12 mt-5">
            <h5>Lotes sin informacion de cultivo</h5>
            <ul>
                @foreach (var lot in Model.EmptyLots)
                {
                    <li>@lot.Name</li>
                }
            </ul>
        </div>
    }
</div>
