@page
@model LaFlorida.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <div class="col-md-10">
        <h1>Ciclo @Model.Cycle.Name</h1>
    </div>
    @if (!Model.IsComplete)
    {
        <div class="col-m-2 d-flex">
            <button type="button" class="m-auto btn btn-warning" data-toggle="modal" data-target="#cerrarCiclo">
                Cerrar Ciclo
            </button>
            <div class="modal fade" id="cerrarCiclo" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Cerrar Ciclo</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Esta seguro de cerrar el ciclo? Una vez cerrado no se podran efectuar cambios
                            <form method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <input type="submit" value="Cerrar Ciclo" class="btn btn-warning" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<h5>Lote @Model.Cycle.Lot.Name con cultivo @Model.Cycle.Crop.Name</h5>
<h5>Periodo @Model.Cycle.CreateDate.ToString("MMMM yyyy") - @Model.Cycle.HarvestDate?.ToString("MMMM yyyy")</h5>

@if (Model.Success)
{
    <div class="alert alert-success" role="alert">
        @Model.Message
    </div>
}

@if (Model.Error)
{
    <div class="alert alert-danger" role="alert">
        @Model.Message
    </div>
}

@if (!Model.IsComplete)
{
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Costos del Ciclo</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <a asp-page="Costs/Create" asp-route-previous="@Model.Id" class="btn btn-primary float-right">Nuevo Costo</a>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover data-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Costs[0].Job)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Costs[0].Quantity)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Costs[0].Price)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Costs[0].Total)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Costs[0].ApplicationUser)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Costs[0].Details)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Costs[0].CreateDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Costs)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Job.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Quantity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Price)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Total)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName) @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Details)
                                                </td>
                                                <td>
                                                    @item.CreateDate.ToString("dd MMM yyy")
                                                </td>
                                                <td>
                                                    <a asp-page="./Costs/Edit" asp-route-id="@item.CostId" asp-route-previous="@Model.Id"><i class="fas fa-pencil-alt text-primary" title="Editar"></i></a>
                                                    <a asp-page="./Costs/Delete" asp-route-id="@item.CostId" asp-route-previous="@Model.Id"><i class="fas fa-trash-alt text-danger" title="Borrar"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5>Ventas del Ciclo</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 my-3">
                            <a asp-page="Sales/Create" asp-route-previous="@Model.Id" class="btn btn-primary float-right">Nueva Venta</a>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <div class="table-responsive">
                                    <table class="table table-hover data-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Sales[0].Quantity)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Sales[0].Price)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Sales[0].Total)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Sales[0].Buyer)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Sales[0].Details)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Sales[0].InvoiceId)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Sales[0].CreateDate)
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Sales)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Quantity)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Price)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Total)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Buyer)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Details)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.InvoiceId)
                                                    </td>
                                                    <td>
                                                        @item.CreateDate.ToString("dd MMM yyy")
                                                    </td>
                                                    <td>
                                                        <a asp-page="./Sales/Edit" asp-route-id="@item.SaleId" asp-route-previous="@Model.Id"><i class="fas fa-pencil-alt text-primary" title="Editar"></i></a>
                                                        <a asp-page="./Sales/Delete" asp-route-id="@item.SaleId" asp-route-previous="@Model.Id"><i class="fas fa-trash-alt text-danger" title="Borrar"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div class="col-md-12">
    <h5 class="mt-5 mb-2">Accionistas</h5>
    <div class="row">
        @if (!Model.IsRent)
        {
            @foreach (var cu in Model.CycleCostsByUsers)
            {
                <div class="col-md-4 my-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">@cu.UserName</h5>
                            <p class="card-text text-danger">Total de Costos: $@cu.Costs</p>
                            <p class="card-text text-primary">Porcentage de Costos: @cu.Percentage%</p>
                            <p class="card-text text-success">Total de Ventas: $@cu.Sales</p>
                            <p class="card-text text-warning">
                                Total Pagado: $@cu.Withdraws
                                @if (cu.Balance > 0)
                                {
                                    <a asp-page="./Withdraws/Create" asp-route-previous="@Model.Id" asp-route-applicationUserId="@cu.ApplicationUserId" class="ml-2 text-primary"><i class="fas fa-plus-circle"></i></a>
                                }
                            </p>
                            <p class="card-text text-primary">Saldo: @cu.Balance</p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-md-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Costos</h5>
                        <p class="card-text text-success">Total de Costos: $@Model.Costs.Sum(c => c.Total)</p>
                        <p class="card-text text-warning">
                            Total Pagado: $@Model.Cycle.Withdraws.Sum(c => c.Quantity)
                            @if (Model.Costs.Sum(c => c.Total) - Model.Cycle.Withdraws.Sum(c => c.Quantity) > 0)
                            {
                                <a asp-page="./Withdraws/Create" asp-route-previous="@Model.Id" asp-route-applicationUserId="@Model.Costs.FirstOrDefault().ApplicationUserId" class="ml-2 text-primary"><i class="fas fa-plus-circle"></i></a>
                            }
                        </p>
                        <p class="card-text text-primary">Saldo: @(Model.Costs.Sum(c => c.Total) - Model.Cycle.Withdraws.Sum(c => c.Quantity))</p>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-4 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Maquinista</h5>
                    <p class="card-text text-danger">Total de Costos: $@Model.MachinistCosts.Costs</p>
                    <p class="card-text text-warning">
                        Total Pagado: $@Model.MachinistCosts.Withdraws
                        @if (Model.MachinistCosts.Balance > 0)
                        {
                            <a asp-page="./Withdraws/Create" asp-route-previous="@Model.Id" class="ml-2 text-primary"><i class="fas fa-plus-circle"></i></a>
                        }
                    </p>
                    <p class="card-text text-primary">Saldo: @Model.MachinistCosts.Balance</p>
                </div>
            </div>
        </div>
    </div>
</div>
@if (!Model.IsRent)
{
    <div class="col-md-12">
        <h5 class="mt-5 mb-2">Estadisticas del Ciclo</h5>
        <div class="row">
            <div class="col-md-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-danger cycle-statistic-card-text">$@Model.CycleStatistics?.TotalCosts</h5>
                        <p class="card-text text-muted cycle-statistic-card-text">Costo Total del Ciclo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-success cycle-statistic-card-text">$@Model.CycleStatistics?.TotalSales</h5>
                        <p class="card-text text-muted cycle-statistic-card-text">Ventas Total del Ciclo</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary cycle-statistic-card-text">@Model.CycleStatistics?.Performace</h5>
                        <p class="card-text text-muted cycle-statistic-card-text">Rendimiento (Quintales por hectarea)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary cycle-statistic-card-text">@Model.CycleStatistics?.Return%</h5>
                        <p class="card-text text-muted cycle-statistic-card-text">Retorno</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title @(Model.CycleStatistics?.Profit <= 0 ? "text-danger" : "text-success") cycle-statistic-card-text">$@Model.CycleStatistics?.Profit</h5>
                        <p class="card-text text-muted cycle-statistic-card-text">Ganancia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}     