@page
@model LaFlorida.Pages.Account.ManageModel
@{
    ViewData["Title"] = "Accionista";
}
@using LaFlorida.Extensions;

<h1>Accionista</h1>

@if (Model.ApplicationUser.Id != null)
{
    <div class="row">
        @if (Model.IsIdendity)
        {
            <div class="col-md-12">
                <form method="post">
                    <input type="hidden" asp-for="ApplicationUser.Id" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label asp-for="ApplicationUser.FirstName" class="control-label"></label>
                            <input asp-for="ApplicationUser.FirstName" class="form-control" />
                            <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-5">
                            <label asp-for="ApplicationUser.LastName" class="control-label"></label>
                            <input asp-for="ApplicationUser.LastName" class="form-control" />
                            <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2 d-flex">
                            <input type="submit" value="Guardar" class="btn btn-primary mt-auto" />
                        </div>
                    </div>
                </form>
            </div>
        }
        <div class="col-md-12">
            <h5 class="mt-5 mb-2">Tus ciclos activos</h5>
            <div class="row">
                @if (Model.ActiveCycles.Any())
                {
                    foreach (var cu in Model.ActiveCycles)
                    {
                        <div class="col-md-4 my-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Lote @cu.LotName - @cu.CropName</h5>
                                    <p class="card-text text-danger">Total de Costos: $@cu.Costs</p>
                                    <p class="card-text text-success">Total de Ventas: $@cu.Sales</p>
                                    <p class="card-text text-warning">Total Pagado: $@cu.Withdraws</p>
                                    <p class="card-text text-primary">Saldo: @cu.Balance</p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No hay ciclos activos</p>
                }
            </div>
        </div>
        @if (Model.ClosedCycles.Any())
        {
            <div class="col-md-12">
                <h5 class="mt-5 mb-2">Tu rendimiento</h5>
                <div class="row">
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title text-danger">Tus costos</h5>
                                <p class="card-text text-danger">$@Model.ClosedCycles.Sum(c => c.Costs)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title text-success">Tus ventas</h5>
                                <p class="card-text text-success">$@Model.ClosedCycles.Sum(c => c.Sales)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5 class="card-title @(Model.ClosedCycles.Sum(c => c.Sales) - Model.ClosedCycles.Sum(c => c.Costs) > 0 ? "text-success" : "text-danger")">Tus ganancias</h5>
                                <p class="card-text @(Model.ClosedCycles.Sum(c => c.Sales) - Model.ClosedCycles.Sum(c => c.Costs) > 0 ? "text-success" : "text-danger")">$@(Model.ClosedCycles.Sum(c => c.Sales) - Model.ClosedCycles.Sum(c => c.Costs))</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <div class="card">
                            <div class="card-body">
                                <canvas id="return"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 my-3">
                        <div class="card">
                            <div class="card-body">
                                <canvas id="profit"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-12">
            <h5 class="mt-5 mb-2">Tus ciclos cerrados</h5>
            @if (Model.ClosedCycles.Any())
            {
                <div class="table-responsive">
                    <table class="table table-hover data-table">
                        <thead>
                            <tr>
                                <th>Lote</th>
                                <th>Cultivo</th>
                                <th>Fecha de Creacion</th>
                                <th>Fecha de Cosecha</th>
                                <th>Costos</th>
                                <th>Ventas</th>
                                <th>Pagado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cu in Model.ClosedCycles.OrderByDescending(c => c.CreateDate))
                            {
                                <tr class="col-md-4 my-3">
                                    <td>@cu.LotName</td>
                                    <td>@cu.CropName</td>
                                    <td>@cu.CreateDate.ToString("dd MMM yyy")</td>
                                    <td>@cu.HarvestDate?.ToString("dd MMM yyy")</td>
                                    <td>@cu.Costs</td>
                                    <td>@cu.Sales</td>
                                    <td>@cu.Withdraws <i class="fas fa-check-circle text-success @(cu.Sales == cu.Withdraws ? "" : "d-none")"></i></td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-right"><b>Total:</b></td>
                                <td>@Model.ClosedCycles.Sum(c => c.Costs)</td>
                                <td>@Model.ClosedCycles.Sum(c => c.Sales)</td>
                                <td>@Model.ClosedCycles.Sum(c => c.Withdraws)</td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            }
            else
            {
                <p>No hay ciclos cerrados</p>
            }
        </div>
    </div>
}
else
{
    <p>Accionista no encontrado</p>
}



@section Scripts {
    @if (Model.ClosedCycles.Any())
    {
        <script>
            var dataLabels = @Html.Raw(Model.ClosedCycles.Select(c => new string($"{c.LotName} {c.CropName} - {c.CreateDate.ToString("MMM yyy")}")).ToList().GetLabels());
            createChart("return", dataLabels, @Html.Raw(Model.ClosedCycles.Select(c => c.Return).ToList().GetData()), "line", "Tu retorno", "Retorno %", "rgba(54, 162, 235, 0.2)", "rgba(54, 162, 235, 1)");
            createChart("profit", dataLabels, @Html.Raw(Model.ClosedCycles.Select(c => c.Profit).ToList().GetData()), "line", "Tu ganancia", "Ganancia", "rgba(75, 192, 192, 0.2)", "rgba(75, 192, 192, 1)");
        </script>
    }
}