@page
@model LaFlorida.Pages.Lots.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Estas seguro de borrar @Html.DisplayFor(model => model.Lot.Name)?</h3>
<div>
    <h4>Lot</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lot.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lot.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Lot.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lot.Size)
        </dd>
    </dl>
    
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Lot.LotId" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-page="./Index">Regresar</a>
    </form>
</div>
